@{
    ViewData["Title"] = "Административная панель";
}

@model AdminPanelModel;

<div class="text-center">
    <h1 class="display-4">Административная панель</h1>
    <div class="flex-container beverages">
        @foreach (var beverage in Model.Beverages)
        {
            <div class="admin-beverage">
                <h3>@beverage.Name</h3>
                <h4>@beverage.Price ₽</h4>
                <h6>@beverage.Count</h6>
                <div>
                    <a href="@($"/admin/edit-beverage/{beverage.Id}")">Редактировать напиток</a>
                </div>
            </div>
        }
    </div>
    <div class="flex-container beverage-adding-ref">
        <a href="/admin/add-beverage">Добавить напиток</a>
    </div>
    <div class="flex-container money-unit-buttons">
        @foreach(var moneyUnit in Model.MoneyUnits)
        {
            <div>
                <button id="@(moneyUnit.Denomination)"
                class="admin-money-unit-btn @(moneyUnit.IsAvailable ? "active" : "")"
                onclick="changeMoneyUnitAvailability(@moneyUnit.Denomination)">
                    @moneyUnit.Denomination ₽
                </button>
            </div>
        }
    </div>
    <div id="balance-display-container">
        Текущий баланс: @Model.UserBalance ₽
    </div>
</div>

<script type="text/javascript" src="@Url.Content("/js/admin.js")"></script>
