@{
    ViewData["Title"] = "Admin Panel";
}

@model AdminPanelModel;

<div class="text-center">
    @*<h1 class="display-4">Vending Machine</h1>
    <div class="beverages">
        @foreach (var beverage in Model.Beverages)
        {
            <div>
                <button class="beverage-btn">
                    <h3>@beverage.Name</h3>
                    <h4>@beverage.Price</h4>
                </button>
            </div>
        }
    </div>
    <div class="money-unit-buttons">
        @foreach(var moneyUnit in Model.MoneyUnits)
        {
            <div>
                <button class="money-unit-btn" onclick="onMoneyUnitClick(@moneyUnit.Denomination)">
                    @moneyUnit.Denomination
                </button>
            </div>
        }
    </div>*@
    <div id="balance-display-container">
        @Model.UserBalance
    </div>
</div>

