@{
    ViewData["Title"] = "Торговый автомат";
}

@model VendingMachineModel;

<div class="text-center">
    <h1 class="display-4">Торговый автомат</h1>
    <div class="flex-container beverages">
        @foreach (var beverage in Model.Beverages)
        {
            <form asp-action="BuyBeverage" class="custom-form">
                <input type="hidden" asp-for="Id" value="@beverage.Id"/>
                <div>
                    <button class="beverage-btn" type="submit">
                        <h3>@beverage.Name</h3>
                        <h4>@beverage.Price ₽</h4>
                        <h6>@beverage.Count</h6>
                    </button>
                </div>
            </form>
        }
    </div>
    <div class="flex-container money-unit-buttons">
        @foreach(var moneyUnit in Model.MoneyUnits)
        {
            <div>
                <button 
                disabled="@(!moneyUnit.IsAvailable)"
                class="money-unit-btn" 
                onclick="onMoneyUnitClick(@moneyUnit.Denomination)">
                    @moneyUnit.Denomination ₽
                </button>
            </div>
        }
    </div>
    <div>
        Текущий баланс:
        <div style="display: inline-block;" id="balance-display-container">
            @Model.UserBalance
        </div> 
        ₽
    </div>
</div>

<script type="text/javascript" src="@Url.Content("/js/vending.js")"></script>

